Create a Car class with attributes brand and model. Write a method to display the car's details.

In [ ]:
class Car:

    brand = "honda civik"
    model = 2023
    def display(slef):
        print(f" caer brand name is {Car.brand},\n car model is {Car. model}")
ob = Car()
ob.display()

 caer brand name is honda civik,
 car model is 2023

2 Implement a class Circle with methods to calculate the area and circumference.

In [ ]:
import math
class Circle:
    def __init__(self, radius):
        self.radius = radius
    def area (self):
        return math.pi * self.radius
    def circumference(self):
        return 2 * math.pi * self.radius
ob = Circle(45)
ob.area()
ob.circumference()

282.7433388230814

Create a Person class with a constructor to initialize name and age. Add a method to display these details.

In [ ]:
class Person:
    def __init__(self, name, age ):
        self.name = name
        self. age = age
    def display(self):
        print(f" my name is {self.name}, \n and age is {self.age }")
ob = Person("amina  iqbal", 26)
ob.display()

 my name is amina  iqbal,
 and age is 26

Write a class Student with a method to calculate the average marks of a student from a list of marks.

In [ ]:
class Student:
    def __init__(self, name, *marks  ):
        self.name = name
        self.marks = marks
        self.results = None
    def calculate_marks(self):
        self.results = sum ( self.marks)/ len( self.marks)
        print(self.results)
    def disply (self):
        print(f" my name is {self.name}, my marks is {self.marks } and avargemarks is {self.results }")
ob = Student("amina iqbal", 33, 45, 60)
ob.calculate_marks()
ob.disply()

46.0
 my name is amina iqbal, my marks is (33, 45, 60) and avargemarks is 46.0

In [ ]:
class Student:
    def __init__(self, name, *marks ):
        self.name = name
        self.marks = marks
    def calculate_marks(self):
        return sum ( self.marks)/ len( self.marks)

    def disply (self):
        print(f" my name is {self.name}, my marks is {self.marks }")
ob = Student("amina iqbal", 33, 45, 60)
ob.calculate_marks()
ob.disply()

 my name is amina iqbal, my marks is (33, 45, 60)

Create a Book class with attributes title, author, and price. Add a method to apply a discount to the book price.

In [ ]:
class  Book:
    def __init__(self, title, author, price):
        self.title = title
        self. author = author
        self. price = price
    def book_price(self, discount_price ):
        if 0 <= discount_price <=  100:
            less_price = self.price * (discount_price/100)
            self.price-=less_price
        else:

            print(" sorry price is haigh ")
    def __str__(self):
        return f" Book is : {self.title}, Author is : {self.author}, Price is : {self.price:}"

ob= Book("python", "harry", 1200)
ob.book_price(50)
print(ob)

 Book is : python, Author is : harry, Price is : 600.0

Define a Rectangle class to calculate the perimeter and area of a rectangle.

In [ ]:
class  Rectangle:
    def __init__(self, l, w):
        self.l = l
        self.w = w
    def calculate_perimeter(self):
        return  2*((self.l)+(self.w))
    def calculate_area(self):
        return (self.l)*(self.w)

ob = Rectangle(6,4)
ob.calculate_perimeter()
ob.calculate_area()

24

Write a Temperature class to convert temperatures between Celsius and Fahrenheit.

![image.png]()

In [ ]:
class Temperature:
    def __init__(self, celsius=None, fahrenheit=None):
        self.celsius = celsius
        self.fahrenheit = fahrenheit

    def to_celsius(self):
        if self.fahrenheit is not None:
            return (self.fahrenheit - 32) * 5 / 9
        else:
            return self.celsius  # Already in Celsius

    def to_fahrenheit(self):
        if self.celsius is not None:
            return (self.celsius * 9 / 5) + 32
        else:
            return self.fahrenheit  # Already in Fahrenheit


# Example usage:
temp1 = Temperature(celsius=25)
print(temp1.to_fahrenheit())  # Converts 25°C to Fahrenheit

temp2 = Temperature(fahrenheit=77)
print(temp2.to_celsius())  # Converts 77°F to Celsius

77.0
25.0

In [ ]:
class Temperature:
    def __init__(self, celsius= None, fahrenheit = None):
        self.celsius = celsius
        self.fahrenheit = fahrenheit

    def to_celsius(self):
        if self.celsius is not None:
            return (self.fahrenheit - 32) * 5 / 9

    def to_fahrenheit(self):
        if self.fahrenheit is not None:
            return (self.celsius * 9/5) + 32
temp1 = Temperature(celsius = 25)
print(temp1.to_fahrenheit())
temp2 = Temperature(fahrenheit = 77)
print(temp2.to_celsius())

None
None

In [ ]:
class Book:
    def __init__(self, title, author, price):
        self.title = title
        self.author = author
        self.price = price

    def apply_discount(self, discount_percentage):
        if 0 <= discount_percentage <= 100:
            discount_amount = self.price * (discount_percentage / 100)
            self.price -= discount_amount
        else:
            raise ValueError("Discount percentage must be between 0 and 100.")

    def __str__(self):
        return (f"Book: {self.title}, Author: {self.author}, Price: {self.price:.2f}")

book = Book("Python Programming", "John Doe", 50.0)
print(book)  # Before applying discount
book.apply_discount(20)  # Apply a 20% discount
print(book)  # After applying discount

Book: Python Programming, Author: John Doe, Price: 50.00
Book: Python Programming, Author: John Doe, Price: 40.00

Encapsulation Example: Create a class BankAccount with private attributes _balance. Add methods to deposit, withdraw, and check_balance.

In [ ]:
class BankAccount:
    def __init__(self,balance):
        self. _balance = balance
        # self. pasword = pasword
    def deposit(self, amount):
        if amount > 0:
            self. _balance += amount
            print(f" {amount  } : amount is secsefully deposited , NOW total balance is { self. _balance}")
        else:
            print("please wait sorry  not send money")
    def withdraw(self, amount):
        if self. _balance <= 5000:
            self. _balance -= amount
            print(f" {amount  } : amount is secsefully withdraw, , NOW total balance is { self. _balance}")
        else:
            print("please wait sorry  not send money")
    def check_balance(self):
        print(self._balance)
ob = BankAccount(4000)

ob.withdraw(1000)

ob = BankAccount(4000)
ob.deposit(6000)

 1000 : amount is secsefully withdraw, , NOW total balance is 3000
 6000 : amount is secsefully deposited , NOW total balance is 10000

Constructor Usage: Write a Student class that initializes the student's name, age, and roll_number using a constructor. Add a method to display these details.

In [ ]:
class Student:
    def __init__(self,name, age, roll_number):
        self.name = name
        self.age = age
        self.roll_number = roll_number
    def display (self):
        print(f" my name is {self.name},\nmy age is {self.age},\nand my class rolenumber is {self.roll_number}")
obj = Student("amina iqbal", 26 , 4567)
obj.display()

 my name is amina iqbal,
my age is 26,
and my class rolenumber is 4567

Inheritance Basics: Create a parent class Animal with a method make_sound(). Create a subclass Dog that overrides make_sound() to print "Bark".

In [ ]:
class Animal:
    def make_sound(self):
        print("animal sound is very bad ")
class Dog(Animal):
    def make_sound(self):
        return super().make_sound()
obj1 = Dog()
obj1.make_sound()

animal sound is very bad

In [ ]:
class Animal:
    def make_sound(self):
        print("animal sound is very bad ")
class Dog(Animal):
    def make_sound(self):
        print("Bark")
obj1 = Dog()
obj1.make_sound()

Bark

Static Methods: Write a class MathOperations with a static method add(a, b) that returns the sum of two numbers.

In [ ]:
class MathOperations:
    @staticmethod
    def add(a, b):
        print(a + b)
obj2 = MathOperations.add(25, 25)
obj3 = MathOperations()
obj3.add(25, 25)

50
50

Polymorphism: Implement a Shape class with a method area(). Create subclasses Circle and Rectangle that override the area() method. Demonstrate polymorphism using these classes.

In [ ]:
class Shape:
    def area(self):
        print("This is the generic shape's area.")

class Circle(Shape):
    def  area(self):
        print("This is the generic shape's area.")

class Rectangle(Circle):
     def  area(self):
        print("This is the generic shape's area.")
results = (Shape(), Circle(), Rectangle())
for result in results:
    result.area()
# obj0 = Rectangle()
# obj0.area()
# obj0 = Circle()
# obj0.area()
# obj0 = Shape()
# obj0.area()

This is the generic shape's area.
This is the generic shape's area.
This is the generic shape's area.

In [ ]:
class Shape:
    def area(self):
        print("This is the generic shape's area.")

class Circle(Shape):
    def area(self):
        print("This is the area of a circle.")

class Rectangle(Shape):
    def area(self):
        print("This is the area of a rectangle.")

# Demonstrating Polymorphism
shapes = [Rectangle(), Circle(), Shape()]

for shape in shapes:
    shape.area()  # Calls the overridden method for the subclass

This is the area of a rectangle.
This is the area of a circle.
This is the generic shape's area.

In [ ]:
class Shape:
    def area(self):
        print("This is the generic area method in Shape class.")

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius  # Formula for area of a circle

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height  # Formula for area of a rectangle

# Demonstrating Polymorphism
# Creating a Circle object
circle = Circle(5)  # Radius = 5
print(f"Circle area: {circle.area()}")  # Output: 78.5

# Creating a Rectangle object
rectangle = Rectangle(4, 6)  # Width = 4, Height = 6
print(f"Rectangle area: {rectangle.area()}")  # Output: 24

# Creating a generic Shape object
shape = Shape()
shape.area()  # Output: "This is the generic area method in Shape class."

Circle area: 78.5
Rectangle area: 24
This is the generic area method in Shape class.

Abstraction: Create an abstract class Vehicle with an abstract method move(). Implement this method in subclasses Car and Bicycle.

In [ ]:
class Vehicle:
    def __init__(self,start, stop ):
        self.start = start
        self.stop = stop
    def move(self):
        if self.start == 0:
          print("start ")
        else:
            print("stop")
class Car(Vehicle):
    def move(self):
          if self.start == 0:
            print("start ")
          else:
              print("stop")
class Bicycle(Vehicle):
    def move(self):
        if self.start == 0:
          print("start ")
        else:
            print("stop")
ob = Vehicle(1,1)
print(ob.move())
ob = Bicycle(1,1)
print(ob.move())

stop
None
stop
None

In [ ]:


# Abstract class
class Vehicle:

    def move(self):
        pass  # Abstract method with no implementation

# Subclass Car
class Car(Vehicle):
    def move(self):
        print("The car is moving on four wheels.")

# Subclass Bicycle
class Bicycle(Vehicle):
    def move(self):
        print("The bicycle is moving on two wheels.")

# Usage
vehicles = [Car(), Bicycle()]  # Create instances of subclasses

for vehicle in vehicles:
    vehicle.move()  # Call the implemented move() method

The car is moving on four wheels.
The bicycle is moving on two wheels.

Getters and Setters Problems
Problem 1: Basic Getter and Setter

Write a Person class with a private attribute _age.

Use @property to define a getter method age that returns _age.

Use @age.setter to set _age, ensuring that age cannot be negative. If a negative value is given, raise a ValueError.

In [ ]:
class Person:
    def __init__(self, age):
        self.__age = age
    @property
    def age(self):
        return self.__age
    @age.setter
    def age(self, value):
      if value <0:
          self.__age = value
          print("raise a ValueError. ")
      else:
          print(f" now my age is { self.__age}")

# ob = Person(26)
# print (help(Person))
ob = Person(26)
print (ob.__dict__)
# print(ob.age )
# ob.age = -5

{'_Person__age': 26}

In [ ]:
class Person:
    def __init__(self, age):
        # Use the setter to validate the initial age
        self.age = age  # This invokes the setter for validation

    @property
    def age(self):
        return self.__age

    @age.setter
    def age(self, value):
        if value < 0:
            raise ValueError("Age cannot be negative.")
        self.__age = value  # Update the private attribute if valid

# Testing the class
try:
    ob = Person(26)
    print(ob.age)  # Output: 2
    ob.age = -5    # This will raise a ValueError
except ValueError as e:
    print(e)  # Output: Age cannot be negative.

26
Age cannot be negative.

Problem 2: Calculated Property
Create a class Circle with:


A private attribute _radius.

A getter radius and a setter to update _radius (ensure it’s positive).

A read-only property area that calculates the area of the circle (πr²).

In [ ]:
class Circle:
    def __init__(self, radius):
        self.__radius = radius
    @property
    def radius(self):
        return self.__radius
    @radius.setter
    def radius (self, value):
        if value > 0:
            self.__radius = value

        else:
            print(" ensure it’s positive")
    def area(self):
        return 3.14* (self.__radius)**2

ob = Circle(3)
print(f"Radius: {ob.radius}")  # Output: Radius: 3
print(f"Area: {ob.area}")      # Output: Area: 28.26

ob.radius = 5  # Update the radius
print(f"Updated Radius: {ob.radius}")  # Output: Updated Radius: 5
print(f"Updated Area: {ob.area}")      # Output: Updated Area: 78.5

Radius: 3
Area: <bound method Circle.area of <__main__.Circle object at 0x7dadd620ca60>>
Updated Radius: 5
Updated Area: <bound method Circle.area of <__main__.Circle object at 0x7dadd620ca60>>

In [ ]:
class Circle:
    def __init__(self, radius):
        self.__radius = radius  # Initialize the private variable

    @property
    def radius(self):
        return self.__radius  # Getter for radius

    @radius.setter
    def radius(self, value):
        if value > 0:  # Ensure the radius is positive
            self.__radius = value
        else:
            print("Radius must be positive!")  # Error message for invalid input

    def area(self):
        return 3.14 * (self.__radius)**2  # Calculate area using the radius

# Create a Circle object with radius 3
ob = Circle(3)
print(f"Radius: {ob.radius}")  # Output: Radius: 3
print(f"Area: {ob.area()}")    # Output: Area: 28.26

# Update the radius to 5
ob.radius = 5
print(f"Updated Radius: {ob.radius}")  # Output: Updated Radius: 5
print(f"Updated Area: {ob.area()}")    # Output: Updated Area: 78.5

# Try to set a negative radius
ob.radius = -2  # Output: Radius must be positive!
print(f"Radius after invalid update: {ob.radius}")  # Output: Radius after invalid update: 5

Radius: 3
Area: 28.26
Updated Radius: 5
Updated Area: 78.5
Radius must be positive!
Radius after invalid update: 5

Problem 3: Validate Email Address
Write a User class with:

A private attribute _email.
A getter email and a setter that validates the email format (must include @ and .). If invalid, raise a ValueError.

In [ ]:
import re  # Regular expression library to validate email

class User:
    def __init__(self, email):
        self.__email = None  # Initialize the private _email attribute
        self.email = email  # Use the setter to validate the email on object creation

    @property
    def email(self):
        # Getter: Return the private email attribute
        return self.__email

    @email.setter
    def email(self, value):
        # Setter: Validate the email format
        if self.validate_email(value):
            self.__email = value
        else:
            raise ValueError("Invalid email format. Email must contain '@' and '.'.")

    def validate_email(self, email):
        # Simple validation using regular expression to check for '@' and '.'
        pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        return re.match(pattern, email) is not None

# Example Usage
try:
    user = User("example@example.com")
    print(user.email)  # Should print the valid email
    user.email = "invalid-email"  # Will raise ValueError
except ValueError as e:
    print(e)  # This will print "Invalid email format. Email must contain '@' and '.'."

example@example.com
Invalid email format. Email must contain '@' and '.'.

In [ ]:
x = {1, 2, 3, 4}
y = {3, 4, 5, 6}
print(x & y)

{3, 4}

In [ ]:
[x ** 2 for x in range(5) if x % 2 == 0]

[0, 4, 16]

In [ ]:
class A:
    def __init__(self):
        self.var = "A"

class B(A):
    def __init__(self):
        super().__init__()
        self.var = "B"

obj = B()
print(obj.var)

B

In [ ]:
def func(x=[]):
    x.append(1)
    return x

print(func())
def func(x=[]):
    x.append(1)
    return x

print(func())
print(func())
print(func())
print(func())

[1]
[1]
[1, 1]
[1, 1, 1]
[1, 1, 1, 1]

In [ ]:
def func(a, b, c):
    print(a, b, c)

func(*[1, 2, 3])  # Output: 1 2 3

1 2 3

In [ ]:
lst = [1, 2, 5, 3, 5, 4]
lst.remove(5)
print(lst)
lst.pop(1)
print(lst)

[1, 2, 3, 5, 4]
[1, 3, 5, 4]

In [ ]:
x = "hello"
y = x[::-1]
# x += " world"
print(y)

olleh

Create a class Book with:

Attributes: title, author, copies.

Methods:

borrow_book() - Reduces copies by 1 if available.

return_book() - Increases copies by 1.

display_info() - Displays the book's details.

Create another class Library to:

Store a list of Book objects.

Add a method find_book(title) to search for a book by title.

Add methods to borrow and return books by interacting with the Book class.

Create a class Person with attributes name and age. Add a method greet() to display a greeting message. (Concept: Class and Object)

In [ ]:
class Person:
    def __init__(self, name, age ):
        self.name = name
        self.age = age
    def greet(self):
        print(f"my name is {self. name} and my age is {self. age } year old ")
obj = Person("amina iqbal", 26)
print(obj.greet())

my name is amina iqbal and my age is 26 year old
None

Write a class Rectangle with attributes length and width and a method area() to calculate the area. (Concept: Class Methods)

In [ ]:
class Rectangle:
    def __init__(self,length,width  ):
        self. length  = length
        self.width = width
    def area(self):
        return self.length * self.width
ob = Rectangle(3, 5)
ob.area()

15

Implement a BankAccount class with attributes account_number and balance. Add methods for deposit() and withdraw(). (Concept: Class and Object)

In [ ]:
class BankAccount:
    def __init__(self,account_number, balance ):
        self.account_number = account_number
        self.balance = balance
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"{amount} amount was suces fully deposit {self.balance} ")
    def withdraw(self, amount):
        if amount > 0:
            self.balance -= amount
            print(f"{self.balance} amount was sucsesfully deposit {amount} ")
ob = BankAccount(1222, 45000)
ob.deposit(5000)
ob.withdraw(5000)

5000 amount was suces fully deposit 50000
45000 amount was sucsesfully deposit 5000

Write a class Student with methods add_marks() and calculate_percentage(). (Concept: Instance Methods)

In [ ]:
class Student:
    def __init__(self, name, total_subjects):
        self.name = name
        self.total_subjects = total_subjects
        self.marks = []

    def add_marks(self, mark):
        if len(self.marks) < self.total_subjects:
            self.marks.append(mark)
        else:
            print(f"Cannot add more marks. All {self.total_subjects} marks are already added.")
    def calculate_percentage(self):
        if self.marks:
            total_obtained = sum(self.marks)
            total_possible = self.total_subjects * 100
            percentage = (total_obtained / total_possible) * 100
            return percentage
        else:
            print("No marks added yet!")
            return None


# Example Usage:
student = Student(name="amina", total_subjects=5)

# Adding marks for subjects
student.add_marks(85)


# Calculate and display the percentage
percentage = student.calculate_percentage()
if percentage is not None:
    print(f"{student.name} percentage: {percentage:.2f}%")

amina percentage: 87.00%

Write a Zoo class that manages animals and their details. Use inheritance for categories like Mammals, Birds, etc.

In [ ]:
class Zoo:
    def __init__(self, animal, color, name, kind):
        self.animal = animal
        self.color = color
        self.name = name
        self.kind = kind

    def display(self):
        return f"Animal: {self.animal}, Kind: {self.kind}, Name: {self.name}, Color: {self.color}"

class Mammals(Zoo):
    def __init__(self, animal, color, name, kind, domestic):
        super().__init__(animal, color, name, kind)
        self.domestic = domestic

    def display(self):
        info = super().display()
        return f"{info}, Domestic: {self.domestic}"

class Birds(Zoo):
    def __init__(self, animal, color, name, kind, domestic, flying=True):
        super().__init__(animal, color, name, kind)
        self.flying = flying
        self.domestic = domestic


    def display(self):
        info = super().display()
        return f"{info}, Flying: {self.flying}"

# Example usage
ob = Zoo("Lion", "Orange", "Lil Lion", "Baby")
print(ob.display())

ob1 = Mammals("Lion", "Orange", "Lil Lion", "Baby", "yes")
print(ob1.display())

ob2 = Birds("Parrot", "Green", "Polly", "Adult", domestic=True, flying=True)
print(ob2.display())

Animal: Lion, Kind: Baby, Name: Lil Lion, Color: Orange
Animal: Lion, Kind: Baby, Name: Lil Lion, Color: Orange, Domestic: yes
Animal: Parrot, Kind: Adult, Name: Polly, Color: Green, Flying: True

Implement a ParkingLot system where you can park, unpark, and get details of vehicles.

## What is the method to check if an object is an instance of a specific class?

**isinstance(obj, Class)**

In [ ]:
def func():
    return "Hello", "World"

print(type(func()))

<class 'tuple'>

Understanding Decorators:
Write a decorator print_before that prints "Before calling the function" before executing the decorated function.

In [ ]:
names = ["amina", "iqbal", "ali", "zara"]

# Example: Filter to only include "amina" and "iqbal"
filtered_names = [name for name in names if name in ["amina", "iqbal"]]

print(filtered_names)

['amina', 'iqbal']

### How can you create a parameterized decorator in Python?

**Answer:**
A parameterized decorator is a decorator that takes arguments. To achieve this, you define a function that returns the actual decorator.

**Example:**

In [ ]:
from functools import wraps
def repeat(n):
    def decorator(func):
        @wraps(func)
        def wrapper(*args, **kwargs):
            for _ in range(n):
                func(*args, **kwargs)
        return wrapper
    return decorator

@repeat(3)
def greet():
    print("Hello!")

greet()

Hello!
Hello!
Hello!

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name  # Direct access

p = Person("Ali")
n = p.name = 123
print(n)

123

Write a Vehicle class with a method to calculate mileage given distance and fuel consumed. Use inheritance to create Car and Bike classes.

In [ ]:
class Vehicle:
    def __init__(self, distance, fuel_consumed ):
        self.distance = distance
        self.fuel_consumed = fuel_consumed
    def calculate_mileage(self):
        if self.fuel_consumed > 0:
            mileage = self.distance / self.fuel_consumed
            print(" your car work goood ")
# class Car(Vehicle):
#     pass
# class Bike (Vehicle):
#     pass
ob = Vehicle(5, 6)
print(ob.calculate_mileage())

 your car work goood
None

In [ ]:
mileage = 23.076923076923077
formatted_output = f"{mileage:.4f}"
print(formatted_output)  # Output: 23.08 km/l

23.0769

In [ ]:
{x for x in 'hello' if x in 'aeiou'}

{'e', 'o'}

In [ ]:
def print_before (func):
    def mfunc(*args, **kwargs):
        print( "Before calling the function" )
        func(*args, **kwargs)
    return mfunc


@print_before
def hello(self):
    print("hello my friends how are you ")
hello()

Before calling the function

TypeError: hello() missing 1 required positional argument: 'self'

Create an OnlineStore class with a product catalog. Allow customers to add items to their cart and check out.

In [ ]:
class OnlineStore:
    def __init__(self, store_name):
        self.store_name = store_name
        self.catalog = {}  # Product catalog: {product_name: price}
        self.cart = {}     # Customer's cart: {product_name: quantity}

    def add_product_to_catalog(self, product_name, price):

        self.catalog[product_name] = price
        print(f"Product '{product_name}' added to the catalog at ${price:.2f}.")

    def show_catalog(self):

        if not self.catalog:
            print("The catalog is empty.")
        else:
            print(f"\n{self.store_name} Product Catalog:")
            for product, price in self.catalog.items():
                print(f"- {product}: ${price:.2f}")

    def add_to_cart(self, product_name, quantity):
        """Add a product to the customer's cart."""
        if product_name not in self.catalog:
            print(f"Sorry, '{product_name}' is not in the catalog.")
            return
        if product_name in self.cart:
            self.cart[product_name] += quantity
        else:
            self.cart[product_name] = quantity
        print(f"{quantity} '{product_name}' added to your cart.")

    def view_cart(self):
        """Display the contents of the customer's cart."""
        if not self.cart:
            print("Your cart is empty.")
        else:
            print("\nYour Cart:")
            total = 0
            for product, quantity in self.cart.items():
                price = self.catalog[product] * quantity
                total += price
                print(f"- {product} (x{quantity}): ${price:.2f}")
            print(f"Total: ${total:.2f}")

    def checkout(self):
        """Calculate the total cost and clear the cart."""
        if not self.cart:
            print("Your cart is empty. Add items to your cart before checking out.")
            return
        print("\nChecking Out:")
        total = 0
        for product, quantity in self.cart.items():
            price = self.catalog[product] * quantity
            total += price
            print(f"- {product} (x{quantity}): ${price:.2f}")
        print(f"Grand Total: ${total:.2f}")
        print("Thank you for shopping with us!")
        self.cart.clear()


# Example Usage
store = OnlineStore("Tech Gadgets")

# Adding products to the catalog
store.add_product_to_catalog("Laptop", 1200.99)
store.add_product_to_catalog("Headphones", 199.99)
store.add_product_to_catalog("Smartphone", 899.49)

# Display catalog
store.show_catalog()

# Adding items to cart
store.add_to_cart("Laptop", 1)
store.add_to_cart("Headphones", 2)
store.add_to_cart("Tablet", 1)  # Non-existent product

# Viewing cart
store.view_cart()

# Checkout
store.checkout()

# Viewing cart after checkout
store.view_cart()

Product 'Laptop' added to the catalog at $1200.99.
Product 'Headphones' added to the catalog at $199.99.
Product 'Smartphone' added to the catalog at $899.49.

Tech Gadgets Product Catalog:
- Laptop: $1200.99
- Headphones: $199.99
- Smartphone: $899.49
1 'Laptop' added to your cart.
2 'Headphones' added to your cart.
Sorry, 'Tablet' is not in the catalog.

Your Cart:
- Laptop (x1): $1200.99
- Headphones (x2): $399.98
Total: $1600.97

Checking Out:
- Laptop (x1): $1200.99
- Headphones (x2): $399.98
Grand Total: $1600.97
Thank you for shopping with us!
Your cart is empty.

In [ ]:
class Animal:
    @classmethod
    def sound(cls):
        print(f"{cls.__name__} makes a sound.")

class Dog(Animal):
    pass

class cat(Animal):
    pass

Dog.sound()  # Output: Dog makes a sound.
cat.sound()

Dog makes a sound.
cat makes a sound.

In [ ]:
class Student:
    def __init__(self, name , *marks):
        self.name = name
        self.marks = marks
    def avrage(self):
        return sum(self.marks)/ len(self.marks)
ob = Student ( "amina iqbal", 90, 90, 90)
ob.avrage()

90.0

In [ ]:
class Student:
    def __init__(self, name , *marks):
        self.name = name
        self.marks = marks
    def avrage(self):
        total  = 0
        for value in self.marks:
            total += value
        print("avrege marks is", total /3)

ob = Student ( "amina iqbal", 90, 90, 90)
ob.avrage()

avrege marks is 90.0

Create a BankAccount class with private attributes _balance and _account_holder.
Add public methods to:

Deposit money.

Withdraw money (ensure the balance doesn’t go below zero).

Check the balance (read-only).

In [ ]:
class Account:
    def __init__(self, balance, acount_no):
        self.__balance = balance
        self. __acount_no = acount_no
    def dabit(self, amount):
        if self.__balance > 0 :
            self.__balance += amount
            print(f" total amount is {self.__balance} and amount was deposited {amount}  ")
        else:
            print(" amount was not sucse fully diposited ")
    def withdraw(self, amount):
        if self.__balance  > 0 :
            self.__balance  -=amount
            print(f" total amount is {self.__balance} and with draw amount {amount}  ")
        else:
            print(" amount was sucse fully withdraw ")

ob = Account(50000, 2345)
ob.dabit(5000)
ob.withdraw(10000)

 total amount is 55000 and amount was deposited 5000
 total amount is 45000 and with draw amount 10000

Create a class Student with:

Private attributes _name and _marks.

Public methods to:

Set the name and marks (with validation: marks should be between 0 and 100).

Get the name and marks.

Add a method to check if the student has passed (marks >= 40).

# **static mthode ka mtlb hi sara object ka lia same he rahga bar bar create ni hoga mtlb static rhy ga ak mthode write krty hain or wo he hr object ka lia call hojata hai**

In [ ]:
class Student:
    def __init__(self, name, marks)

Implement a class Circle with methods to calculate the area and circumference.

In [ ]:
from math import pi  # Importing only pi from the math module

class Circle:
    def __init__(self, r):
        self.radius = r  # Attribute to store the radius

    def calculate_area(self):
        return pi * (self.radius) ** 2  # Correct formula for area of a circle

    def calculate_circumference(self):
        return 2 * pi * self.radius  # Correct formula for circumference of a circle

# Create an instance of Circle with radius 3
ob = Circle(3)

print("Area of the circle:", ob.calculate_area())
print("Circumference of the circle:", ob.calculate_circumference())

In [ ]:
from math import pi
class Circle:
    def __init__(self,r):

        self. radius = r
    def calculate_area(self):
        return 2 * pi * (self. radius)**2
    def calculate_circumference(self):
        return pi * (self. radius)
ob  = Circle( 3)
print(ob. calculate_area())
print(ob. calculate_circumference())

56.548667764616276
9.42477796076938

In [ ]:
class MyClass:
    def __init__(self, name):
        self._name = name  # Protected attribute

    def _greet(self):  # Protected method
        return f"Hello, {self._name}!"

class SubClass(MyClass):
    def display_name(self):
        return f"Name: {self._name}"

obj = SubClass("Badar")
print(obj.display_name())  # Accessing protected member in subclass
print(obj._greet())  # Accessing protected method directly (not recommended)

# **Acsecs modifiears**
three Acsecs modifiears  this name is

1 **private**  




 2 **public**

 3 **protacted**

1 **private**

In [ ]:

class MyClass:
    def __init__(self, name):
        self.__name = name  # Private attribute

    def __greet(self):  # Private method
        return f"Hello, {self.__name}!"

    def access_private(self):
        return self.__greet()  # Accessing private method within the class

obj = MyClass("Badar")
# print(obj.__name)  # This will raise an AttributeError
# print(obj.__greet())  # This will raise an AttributeError

print(obj.access_private())  # Accessing private method through a public method

# 3 **protacted**

In [ ]:
class Name:
    def __init__(self, name):
        self._name = name # Protected attribute
    def _display(self): # Protected method
        print(f" my name is {self._name}")
ob = Name(name = "amina iqbal" )
print(ob._name)  # Accessing protected member in subclass
ob._display()# Accessing protected method directly (not recommended)

amina iqbal
 my name is amina iqbal

Implement a Course class where students can enroll. Include methods to display enrolled students.

In [ ]:
class Course:
    def __init__(self, name, education, age, course):
        self.name = name
        self.education = education
        self.age = age
        self.course = course

    def display(self):
        results = f"student name is: {self.name}, \nstudent education is : {self.education}. \nstudent age is :{self.age}, \nstudent joinning course is : {self.course}"
        print(results)

        print("You are successfully enrolled.")

# Testing the class
ob = Course("amina iqbal", 12, 26, "ml engineer ")
ob.display()

student name is: amina iqbal,
student education is : 12.
student age is :26,
student joinning course is : ml engineer
You are successfully enrolled.

In [ ]:

class Course:
    def __init__(self, name = None, education= None, age= None, course = None):
        self.name = name
        self.education = education
        self.age = age
        self.course = course

        results = []

        if self.education not results:
            print( results.append(self.education ))
        elif self.education not in results:
            print(" please put your correct education  " )
        elif  str(self.education) not in results:
            print(" please put your correct age ")
        elif str(self.education) not in results:
           print(" please put your correct course ")
        else:
            print(" you are sacsefully enroled ")
        print(results)
ob =  Course("amina iqbal", 12, 26, "ml engineer ")
ob.display()

TypeError: 'in <string>' requires string as left operand, not int

In [ ]:
def func(val, lst=[]):
    lst.append(val)
    return lst

x = func(1)
y = func(2, [])
z = func(3)
print(x, y, z)

[1, 3] [2] [1, 3]

In [ ]:
x = [1, 2, 3]
y = x
y[0] = 0
print(x)

[0, 2, 3]

In [ ]:
x = [1, 2, 3]
x[1] = 5

In [ ]:
x = {i: i*i for i in range(3)}
print(x)
0 1; 1 2; 4

In [ ]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Combine lists using zip
zipped = zip(list1, list2)

# Convert the zip object to a list
result = list(zipped)
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
names = ["amina", "mona", "tehmina", "jaara"]
ages = [26, 24, 20, 16]
zipped = zip(names ,ages )
print(list(zipped))

[('amina', 26), ('mona', 24), ('tehmina', 20), ('jaara', 16)]

In [ ]:
def func(x, lst=[]):
    lst.append(x)
    return lst

print(func(1))  # Call 1
print(func(2))  # Call 2
print(func(3))  # Call 3

[1]
[1, 2]
[1, 2, 3]

In [ ]:
def fun(x, s=[]):
    s.append(x)
    return s

fun(1)

[1]

In [ ]:
class Book:
    def __init__(self, title, author, copies):
        self.title = title
        self.author = author
        self.copies = copies

    def borrow_book(self):
        """Reduces copies by 1 if available."""
        if self.copies > 0:
            self.copies -= 1
            print(f"You have borrowed '{self.title}'.")
        else:
            print(f"Sorry, '{self.title}' is not available right now.")

    def return_book(self):
        """Increases copies by 1."""
        self.copies += 1
        print(f"Thank you for returning '{self.title}'.")

    def display_info(self):
        """Displays the book's details."""
        print(f"Title: {self.title}, Author: {self.author}, Copies available: {self.copies}")

In [ ]:
class Library:
    def __init__(self):
        self.books = []

    def add_book(self, book):
        """Adds a Book object to the library."""
        self.books.append(book)
        print(f"'{book.title}' has been added to the library.")

    def find_book(self, title):
        """Searches for a book by title."""
        for book in self.books:
            if book.title.lower() == title.lower():
                return book
        return None

    def borrow_book(self, title):
        """Borrows a book by title if available."""
        book = self.find_book(title)
        if book:
            book.borrow_book()
        else:
            print(f"Sorry, the book '{title}' is not available in the library.")

    def return_book(self, title):
        """Returns a borrowed book by title."""
        book = self.find_book(title)
        if book:
            book.return_book()
        else:
            print(f"The book '{title}' does not belong to this library.")

    def display_books(self):
        """Displays all the books in the library."""
        if self.books:
            print("Books in the library:")
            for book in self.books:
                book.display_info()
        else:
            print("The library is currently empty.")


    book1 = Book("Python Programming", "John Doe", 5)
    book2 = Book("Machine Learning Basics", "Jane Smith", 3)


    library = Library()

    library.add_book(book1)
    library.add_book(book2)
    library.display_books()
    library.borrow_book("Python Programming")

    # Returning a book
    library.return_book("Python Programming")

    # Trying to borrow a non-existent book
    library.borrow_book("Nonexistent Book")

    # Displaying updated book info
    library.display_books()

In [ ]:
li=[1,3,4,7,8]
li2 =[3,4,5,6,8]
for i in li:
    print(i)
    for j in li2:
        print(i, j)

1
1 3
1 4
1 5
1 6
1 8
3
3 3
3 4
3 5
3 6
3 8
4
4 3
4 4
4 5
4 6
4 8
7
7 3
7 4
7 5
7 6
7 8
8
8 3
8 4
8 5
8 6
8 8

Practice Problems:
Create a Person class with attributes name and age. Write a method to display details.

Implement a class Shape with a method to calculate the area. Inherit it to create classes for Circle and Rectangle.

Write a program to create a BankAccount class with deposit and withdrawal functionality.

In [ ]:
class Person:
    def __init__(self, name , age):
        self.name = name
        self.age = age
    def display(self):
        print(f"my name is {self.name } and my age is {self.age }")
ob = Person("amina iqbal", 26)
ob.display()

my name is amina iqbal and my age is 26

Implement a class Shape with a method to calculate the area. Inherit it to create classes for Circle and Rectangle.

In [ ]:
def func(x, lst=None):
    if lst is None:  # Create a new list if no list is provided
        lst = []
    lst.append(x)
    return lst

print(func(1))  # [1]
print(func(2))  # [2]

[1]
[2]

In [ ]:
class EvenNumbers:
    def __init__(self, limit):
        self.limit = limit
        self.current = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.current < self.limit:
            even_number = self.current
            self.current += 2
            return even_number
        else:
            raise StopIteration

# Using the iterator to print the first 10 even numbers
even_iterator = EvenNumbers(5)  # 20 is the limit (10 even numbers)
for num in even_iterator:
    print(num)

0
2
4

# **Write a decorator**

In [13]:
def intro(func):
    def aducation(*args, **kawargs):
        print("i am amina iqbal from")
        results = func (*args, **kawargs)

        print (" you are help full ")
        return results
    return aducation
@intro
def hellow():
    print("how are you are you ok ")

hellow()

i am amina iqbal from
how are you are you ok
 you are help full

In [24]:
def intro(func):  # Decorator accepting a function
    def wrapper(*args, **kwargs):
        print("I am Amina Iqbal from")  # Additional functionality
        result = func(*args, **kwargs)  # Call the original function
        print("You are helpful")  # Additional functionality
        return result  # Return the result of the original function
    return wrapper

@intro
def hellow(arg):
    print(f"How are you? Are you ok? Argument: {arg}")

# Call the decorated function
hellow(4)

I am Amina Iqbal from
How are you? Are you ok? Argument: 4
You are helpful

In [18]:
def decorator(func):
    def age():
        func()
        print("wellcome dear ")

        print("amina iqbal how are you ")
    return age

@decorator
def say_hello():
    print("Hello!")

say_hello()

Hello!
wellcome dear
amina iqbal how are you

In [22]:
def intro(func):
    def display():
        print(" hi dear wellcome ")
        func()
        print("thanks for coming my home ")
    return display

@intro
def show():
    print(" amina iqbal")
show()

 hi dear wellcome
 amina iqbal
thanks for coming my home

Write a decorator that logs the arguments and return value of a function.

In [ ]:
def intro(func):  # Decorator accepting a function
    def wrapper(*args, **kwargs):
        print("I am Amina Iqbal from")  # Additional functionality
        result = func(*args, **kwargs)  # Call the original function
        print("You are helpful")  # Additional functionality
        return result  # Return the result of the original function
    return wrapper

@intro
def hellow(arg):
    print(f"How are you? Are you ok? Argument: {arg}")

# Call the decorated function
hellow(4)

In [25]:
def take(func):
    def returnn (*args, **kawargs):
        results = func(*args, **kawargs)
        print("hi how are you ")
        return (results)

    return returnn
@take
def wellcome():
    print(" wellcome ")

In [26]:
class Meta(type):
    def __new__(cls, name, bases, dct):
        print(f"Creating class {name}")
        return super().__new__(cls, name, bases, dct)

class MyClass(metaclass=Meta):
    pass

Creating class MyClass