Write a program to check if a given number is even or odd.

In [ ]:
user_input = int(input("enter a number to chak even or odd"))
if user_input % 2 ==0:
    print(f" {user_input} this number is even ")
else:
    print(f"this number {user_input} is odd")

enter a number to chak even or odd5
this number 5 is odd

Print numbers from 1 to 50. For multiples of 3, print "Fizz" instead of the number. For multiples of 5, print "Buzz". For numbers that are multiples of both 3 and 5, print "FizzBuzz".

In [ ]:
for num in range(1, 51):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)  # To show the number when it's not divisible by 3 or 5

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
for num in range(1, 51):
    if num % 3 ==0:
        print("Fizz" )
    elif num % 5 ==0:
        print("Buzz ")
    elif num % (3 and 5 )==0:
        print("FizzBuzz ")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz

Write a program to reverse a string without using the built-in reverse() method.

In [ ]:
user = str(input("enter a string "))
print(user[::-1])

enter a string amina
anima

Write a program to demonstrate multilevel inheritance with classes Person, Employee, and Manager. (Concept: Multilevel Inheritance)

In [ ]:
# Base class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display_person_info(self):
        print(f"Name: {self.name}, Age: {self.age}")

# Intermediate class
class Employee(Person):
    def __init__(self, name, age, employee_id):
        super().__init__(name, age)
        self.employee_id = employee_id

    def display_employee_info(self):
        self.display_person_info()
        print(f"Employee ID: {self.employee_id}")

# Derived class
class Manager(Employee):
    def __init__(self, name, age, employee_id, department):
        super().__init__(name, age, employee_id)
        self.department = department

    def display_manager_info(self):
        self.display_employee_info()
        print(f"Department: {self.department}")

# Object creation and method call
ob = Manager('Amina', 26, 4567, "ML department")
ob.display_manager_info()

Name: Amina, Age: 26
Employee ID: 4567
Department: ML department

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self. age = age
    def display_Person_info(self):
        print(f" my name is {self.name} and my age is {self.age}")
class Employee (Person):
    def __init__(self, name , age , employee_id):
        super().__init__(name, age )
        self.employee_id = employee_id
    def display_employee_info(self):
        self.display_Person_info()
        print(f"Employee ID: {self.employee_id}")
class Manager (Employee):
    def __init__(self, name, age, employee_id, department  ):
        super().__init__(name, age, employee_id )
        self.department =  department
    def display_manager_info(self):
        self.display_employee_info()
        print(f" department {self. department } ")
ob = Manager ('amina', 26, 4567, "ML department")
ob.display_manager_info()

 my name is amina and my age is 26
Employee ID: 4567
 department ML department